class ArrayQueue:
  def __init__(self, maximum_length = -1):
    self.queue_list = [0]
    self.front_index = 0
    self.length = 0
    self.max_length = maximum_length

  def get_length(self):
    return self.length

  def get_max_length(self, item):
    return self.max_length
    
  def enqueue(self, item):  
    if self.length == self.max_length:
      return False
      
    if self.length == len(self.queue_list):
      self.resize()

      item_index = (self.front_index + self.length) % len(self.queue_list)  
      self.queue_list[item_index]= item
      self.length +=1
      return True

  def dequeue(self):
    to_return = self.queue_list[self.front_index]
    self.length -=1 
    self.front_index = (self.front_index + 1) % len(self.queue_list)
    return to_return

  def resize(self):
    new_size = len(self.queue_list) *2
    if self.max_length >=0 and new_size > self.max_length:
      new_szie = max_length
    new_list = [0] * new_size
    for i in range(self.length):
      item_index = (self.front_index + i) % len(self.queue_list)
      new_index[i] = self.queue_list[item_index]

  def resize(self):
    new_size = len(self.queue_list)*2 
    if self.max_length >=0 and new_size > self.max_length:
      new_size = max_length
    new_list = [0] * new_size 
    for i in range(self.length):
      item_index = (self.front_index + i) % len(self.queue_list)
      new_list [i] = self.queue_list [item_index]
    self.queue_list = new_list 
    self.front_index = 0

FirstName_Queue = ArrayQueue()
LastName_Queue = ArrayQueue()

Lname = 'Emmanuel'
Fname = 'Mabruk'

Lname = Lname.lower()
Fname = Fname.lower()

for item in Lname:
  LastName_Queue.enqueue(item)
for item in Fname:
  FirstName_Queue.enqueue(item)

Q1 = ''
print('Last name: ', Lname)
while LastName_Queue.get_length()>0:
  Q1 += LastName_Queue.dequeue()

Q2 = ''
while FirstName_Queue.get_length()>0:
  Q2 += FirstName_Queue.dequeue()
print('First name: ', Fname)

print('My Name: ', Q2, Q1,end =' ')
print(Fname,Lname)
Q1nQ2 =''
for item in Q1:
  if item in Q2:
    Q1nQ2 +=item
print(Q1nQ2)
print()

def namestring(FirstName_Queue, LastName_Queue):
    Fname = set(FirstName_Queue.lower())
    Lname = set(LastName_Queue.lower())
    result1 = list(Fname.union(Lname))
    result2 = list(Fname.intersection(Lname))
    result3 = list(Fname.symmetric_difference(Lname))
    result1.sort()
    result2.sort()
    result3.sort()
    res1 = ''.join([str(x) for x in result1])
    res2 = ''.join([str(x) for x in result2])
    res3 = ''.join([str(x) for x in result3])
    return (res1, res2, res3)

print(namestring('Mabruk', 'Emmanuel'))
